/web/assetic/
/web/bundles/
/web/uploads/*
web/sitemap.*
/app/bootstrap.php.cache
/app/cache/*
/app/data/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
nbproject/*
.DS_Store
web/images/public
web/images/cache
web/js/
web/css/
.idea/
.buildpath
.project
.settings/
